/*BUSCADOR => ELEMENTO*/
.main{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.main__title{
    color: #fff;
    font-size: 25px;
}

.input--search{
    width: 70%;
    background-color:#212F3D;
    border: 1.5px solid #DF2EE8;
    border-radius: 25px;
    padding:  0px 20px;
    color: #fff;
    font-size: 16px;
    height: 30px;
    font-family: 'Muli', sans-serif;
}



::placeholder{color: #fff;}
/*CAROUSEL => ELEMENTO*/
.carousel{
    width: 100%;
    overflow:scroll;
    padding: 30px;
    position: relative; /*todos los elementos que esten dentro de este div, se posición con respecto al eje de este*/
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    position: relative;
    width: 200px;
    height: 250px;
    background-color: salmon;
    border-radius: 30px;
    margin: 0px 10px 0px 0px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 500ms all;
    transform-origin:center left ;
}

.carousel-item:hover ~ .carousel-item{
    /*transformacion */
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    /*transformacion */
    opacity: 0.5;
  
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover; /*recuper espacio original*/
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0)100%);
     font-size: 10px;
     opacity: 1; /*0*/
     transition: 450ms opacity; /*se creara el gradiente paulatinamente*/
     padding: 10px;
     position: absolute;
     top:0;
     left: 0;
     bottom: 0;
     right: 0;

}